.commet__item{
    background-color: #292E36;

    .item__name{
        color: #FFF;
        font-size: 25px;
        font-weight: 400;
        line-height: 37.5px;
        letter-spacing: 0.2px;
    }

    .item__email{
        color: #E1B168;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.2px;
    }
}