.offers{
    padding-top: 100px;
}

.offers__title{
    width: 35px;
    border-top: #E1B168 2px solid;
    border-bottom: #E1B168 2px solid;
    color: #292E36;
    text-align: center;
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: 3px;
    text-transform: uppercase;
}